

/* .wrapper{background: url('../images/loginback.png');
    /* Full height */
  /* height: 100vw;
  width: 100vw;
  /* Center and scale the image nicely */
    /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;} */ 

  /* .login {

    height: auto;
    background-image: url('../images/kl.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;


  } */

  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
/* */
/* .loginpage .login, .image {
  min-height: 100vh;
}

.loginpage .bg-image {
  background-image: url('../images/k.jpg');
  background-size: cover;
  background-position: center center;
} 

.loginpage .p-viewer{
  float: right;
  margin-top: -30px;
  margin-right: 15px;
  position: relative;
  z-index: 1;
  cursor:pointer;
} */
